#wizard{
	float: left;
	width: 955px;
	padding: 15px;
	background: #fff;
	border-radius: 8px;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;
}

ul.anchor{
	float: left;
	width: 100%;
	padding-left: 0; 
	margin-bottom: 10px;
}

ul.anchor li{
	display: inline;
	list-style-image: none;
}

ul.anchor li label.stepNumber{
	float: left;
	font-size: 30px;
	position: relative;
	top: 10px;
	padding-right: 10px;
}

ul.anchor li a{
	display: block;
	float: left;
	width: 175px;
	margin: 3px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow: 0px -1px 0px #1c3780;		
}

.stepDesc{
	float: left;
	font-weight: normal;
	font-size: 14px;
}

ul.anchor li a.disabled{
	text-shadow: 0px 1px 0px #fff;
	color: #999;	
	border:1px solid #999;	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
}

ul.anchor li a.done{
	background: rgb(175,225,47); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(175,225,47,1) 0%, rgba(131,166,42,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,225,47,1)), color-stop(100%,rgba(131,166,42,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(175,225,47,1) 0%,rgba(131,166,42,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(175,225,47,1) 0%,rgba(131,166,42,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(175,225,47,1) 0%,rgba(131,166,42,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afe12f', endColorstr='#83a62a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(175,225,47,1) 0%,rgba(131,166,42,1) 100%); /* W3C */
	border: 1px solid rgba(131,166,42,1);
}

ul.anchor li a.disabled:hover{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */	
}

ul.anchor li a:hover{
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
}

div.stepsguide .step .smalltext{ /*small footer text inside "steps" text */
	font-size: 13px;
	font-weight: normal;
}

.actionBar{
	float: left;
	width: 100%;
}

.button-container{
	float: left;
	width: 100%;
}

.buttonNext, .buttonPrevious{ /*CSS for "prev" and "next" SPAN elements within paginate container */
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin: 10px 0;
}

.buttonNext{
	float: right;
}

.buttonPrevious{
	float: left;
}

.buttonNext:hover, .buttonPrevious:hover{
	cursor: pointer;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;	
}

.stepContainer{
	float: left;
}